<header id="page-topbar">
    <div class="navbar-header">
        <div class="d-flex">
            <!-- LOGO -->
            <div class="navbar-brand-box">
                <a href="{% url 'vehicles:list-vehicles' %}" class="logo logo-light">
                    <span class="logo-sm ">
                        <img  class="img-tag" src="https://assets-cdn.static-gm.com/Assets/c99a62d2-a9a4-4655-9d5c-9dfce023e8c6/c1a9b53f-4ec0-4189-9658-0324410f9d51/v-1605747088/Desktop.png" title="LogoAutolarte" alt="LogoAutolarte" loading="eager" style="max-height: 40px;">
                    </span>

                    <span class="logo-lg">
                      <img  class="img-tag" src="https://assets-cdn.static-gm.com/Assets/925e467e-b354-4c6a-bee7-094286fb63d9/ca8d1aaf-6822-42c1-94c7-b6b2077f4497/v-1622078032/Desktop.webp" title="Chevrolet Colombia" alt="Chevrolet Colombia" loading="eager" style="height: 30px; width: 60px;">
                    </span>
                    <span class="logo-lg " style="font-size: 24">
                    &nbsp;&nbsp;
                    </span>
                    <span class="logo-lg">
                      <img  class="img-tag"  src="https://assets-cdn.static-gm.com/Assets/c99a62d2-a9a4-4655-9d5c-9dfce023e8c6/c1a9b53f-4ec0-4189-9658-0324410f9d51/v-1605747088/Desktop.png" title="LogoAutolarte" alt="LogoAutolarte" loading="eager" style="max-height: 40px;">
                    </span>
                </a>
            </div>
{% comment %}
            <button type="button" class="btn btn-sm px-3 font-size-24 header-item waves-effect d-lg-none" id="vertical-menu-btn">
                <i class="mdi mdi-menu"></i>
            </button> {% endcomment %}
        </div>
        {% comment %} <div class="d-flex">


            <div class="d-inline-block">
                <a href="https://themeforest.net/item/skote-html-laravel-admin-dashboard-template/25548061/support" target="_blank" class="header-item">Support</a>
            </div>

            <div class="d-none d-md-inline-block">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSfiP9bDHzIQdQoMXFrYvJx00wyFzSu_cqBWP0N0uUHpqjrbzQ/viewform" target="_blank" class="header-item">Need Customization?</a>
            </div>

            <div class="d-inline-block">
                <a href="https://1.envato.market/skote" target="_blank" class="header-item">Buy Now</a>
            </div>

            <div class="d-inline-block">
                <h5 class="header-item m-0"><span class="badge badge-danger">v1.4.0</span></h5>
            </div>

        </div> {% endcomment %}
    </div>
</header>
